@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ovo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --preto: #050100;
  --branco: #EEEEEE;
  --amarelo: #FED233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .title-shadow {
    text-shadow: 4px 0px 0px rgba(255, 255, 255, 0.3);
  }
}

 .retangulo {
  clip-path: polygon(0);
}

.clip-triangle {
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
